<div data-role="view" id="forgotPasswordView" data-controller="forgotPasswordView" data-init="forgotPasswordView.onInit"
    data-show="forgotPasswordView.onShow" data-before-hide="forgotPasswordView.onHide">
    <div class="header">
        <div class="navbar">
            <div class="buttonContainer">
                <a data-role="button" class="btnNavigation backButton" onclick="forgotPasswordView.back(event)"></a>

            </div>
            <span class="title">
                <translation value="forgotPassword.forgotPassword"></translation>
            </span>
        </div>
    </div>

    <div class="content">
        <div class="container">

            <div class="login-form">
                <div class="form">
                    <div class="form-group">
                        <translation value="forgotPassword.instructions"></translation>
                    </div>
                    <div class="form-group">
                        <div class="control-label loginTitle">
                            <span>
                                <translation value="forgotPassword.username"></translation>
                            </span>
                        </div>
                        <input type="tel" class="form-control input " id="txtUsername" />
                    </div>
                    <div class="form-group">
                        <div class="btn" id="btnLogin">
                            <div class="btnText flex center" onclick="forgotPassword.forgotPassword(event)">
                                <translation value="forgotPassword.send"></translation>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>