$color-primary: #97c242;
$color-primary-light: #a4c856;
$color-secondary: #e21f25;
$color-background-old: #ffffff;
$color-background: #f2f2f2;
$color-drawer-background: #333333;
$color-dark: #6f6f6f;
$color-light: #b3b3b3;

/* TABS */
$color-tabs-background: #ffffff;
$color-tabs-color: #000000;
$color-tabs-selected: $color-primary;

/* BUTTONS */
$color-plus: rgb(158, 199, 84);
$color-minus: rgb(201, 2, 25);
$color-add-cart: $color-plus;
$color-remove-cart: $color-minus;