<div data-role="view" id="aboutUsView" data-controller="aboutUsView" data-init="aboutUsView.onInit"
    data-show="aboutUsView.onShow" data-hide="aboutUsView.onHide">
    <div class="header">
        <div class="navbar">
            <div class="buttonContainer">
                <a data-role="button" class="btnNavigation drawerButton" onclick="toggleMenu(event)"></a>
            </div>
            <span class="title">
                <translation value="menu.aboutUs"></translation>
            </span>
            <div class="buttonContainer">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
           <!-- <div class="english">
                <div>
                    <h3>About Us</h3>
                    <p style="line-height:22px;">Nazzal drug store LTD. was created in 1997. nazzal drug store  is a private company,
                        that specializes in marketing, sales, delivery,
                        Nazzal LTD. supplies pharmaceutical products of all kinds, straight to the customers' location,
                        The company's offices are located in jenin, at il Zahra Str.
                        The company employs vehicles, used to provide country-wide services.
                        Nazzal employees and managers have years-old experience in the field. Nazzal LTD.
                        prides itself for educated, experienced and service-oriented employees.
                        Nazzal LTD. is an exclusive representative of  the following companies.
                        SUNLIFE GMBH GERMANY, the leading manufacturer in food supplement in the world.
                        the united pharmaceutical company in Jordan.
                        AMOL PHARMACEUTICALS PVT. LTD INIDA
                        F.C.P  COMPANY LIMITED THAILAND.</p>
                </div>
                <div>
                    <h3>Introducing the people of nazzal . </h3>
                    <p style="line-height:22px;">Mohi Hasan Nazzal -- Owner and Pharmacist CEO
                    <br/>
                    Zakareya nazzal  -marketing  manager   <br/>
                    Saied nazzal – international and external affair manager. Sweden office manager.   <br/>
                    Tawfiq nazzal  -- A Jordan branch GM  <br/>
                    Ahmad -- sales deprtment   <br/>
                    Emad nazzal  -- manager of sales men and  deliveries  <br/>
                    Nazzal Team  Marketing 
                </p>
                    <ul style="margin-right: 10px;line-height:22px;">
                        <li>Commercial Manager </li>
                        <li>Marketing Manager </li>
                        <li>Brand Managers    </li>
                        <li>Medical Representatives , 1 shereen 2 fatima 3 lowaye 4 madlen 5 asma Sales & Distribution Team  1 hanen     </li>
                        <li>Sales & Mktg Supervisor      </li>
                        <li> Sales Representatives       </li>
                    </ul>
                </div>
            </div>
            <div class="arabic">
                <div>
                    <h3>من نحن</h3>
                    <p style="line-height:22px;">
                    تأسس مستودع أدوية نزال في سنة 1997 ,و هو شركة خاصة تتخصص في مجال التسويق,التوزيع والتوصيل حيث يقوم مستودع نزال بتزويد المواد الطبية بكافة أشكالها مباشرة إلى زبائنه أينما وجدوا.
                    
                    يقع مقر مكاتب الشركة في مدينة جنين-حي الزهراء. والشركة توفر المركبات اللازمة لتأمين توصيل الطلبيات الى جميع أرجاء البلاد.

                    لدى مدراء و موظفين شركة نزال سنوات واسعة من الخبرة المكتسبة في مجال عملهم. إذ تفتخر شركة نزال بوجود الموظفين المؤهلين  من حيث الشهادات العلمية و سنوات الخبرة .

                    شركة نزال هي الوكيل ألحصري لعدة شركات عالميه نذكر منها:
                    صن ليف الألمانية ,الشركة الرائدة في تصنيع الملحقات الغذائية في العالم.
                    كما أننا الوكلاء الحصريون لشركات تصنيع مواد طبية أخرى مثل الشركة المتحدة للصناعات الدوائية في الأردن  وكذلك وكلاء حصر يون لشركة امول لصناعة الأدوية الموجودة ب الهند.
                و كذلك وكلاء حصر يون لشركة ف.س.ب.من تايلاند  .
                </p>
                </div>
                <div>
                    <h3>أعضاء شركة نزال </h3>
                    <p style="line-height:22px;">محيي حسن نزال- المالك و الصيدلي المسؤول
                    <br/>
                    زكريا حسن نزال-مدير التسويق  <br/>
                    سعيد نزال- مدير العلاقات الدولية و الخارجية-مكتب السويد   <br/>
                    توفيق نزال- مدير مكتب الأردن  <br/>
                    احمد- مندوب مبيعات   <br/>
                    عماد نزال- مسئول المبيعات و التوزيع <br/>
                    باسل نزال مدير التسويق فرع الاردن
                </p>
                    <ul style="margin-right: 10px;line-height:22px;">
                        <li>فريق الدعاية الطبية  شيرين السركجي, حنين, فاطمة ديرية, لؤي الفقية, اسماء,مادلين طبييب, </li>
                        <li>المدير المال   </li>
                        <li>مدير التسويق    </li>
                        <li>مدير الفروع      </li>
                        <li> الممثل الطبي      </li>
                    </ul>
                </div>
            </div>-->
        </div>
    </div>
</div>