<!-- <div data-role="view" id="homeView" data-controller="homeView" data-layout="tabsLayout" data-init="homeView.onInit" -->
<div data-role="view" id="pendingView" data-controller="pendingView" data-init="pendingView.onInit"
     data-show="pendingView.onShow" data-hide="pendingView.onHide">
    <div class="header">
        <div class="navbar">
            <div class="buttonContainer">
              
            </div>
            <span class="title" style="text-align:center;"><translation value="pending.pending"></translation></span>
            <div class="buttonContainer">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="whiteSpace"></div>
            <div class="warningContainer flex center">
                <span><translation value="pending.weAreEvaluatingYourProfile"></translation></span>
            </div>
          
            

        </div>
    </div>
</div>